.income-bg {
  background: var(--green-400);
}
.expense-bg {
  background: var(--red-400);
}

.icon-circle {
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 6px;
}
