<div class="card">
  <div class="category-box trancate">{{ title }}</div>

  <div class="content">
    <div class="title-row">
      <div class="title">{{ description }}</div>
      <div [class]="isIncome ? 'income-text' : 'expense-text'" class="amount">
        {{ amount | currency: "USD" : true }}
      </div>
    </div>

    <div class="meta">
      @if (isIncome) {
        <app-category-type [icon]="'arrow_upward'" />
      } @else {
        <app-category-type [icon]="'arrow_downward'" />
      }
      <span>{{ category }}</span>
      <span class="dot">•</span>
      <span>{{ date }}</span>
      <span class="dot">•</span>
      <span>{{ payee }}</span>
    </div>
  </div>
</div>
