<div class="card">
  <div class="category-box">{{ title }}</div>

  <div class="content">
    <div class="title-row">
      <div class="title">{{ description }}</div>
      <div class="amount" [class]="isIncome ? 'income-text' : 'expense-text'">
        {{ amount | currency: "USD" : true }}
      </div>
    </div>

    <div class="meta">
      @if (isIncome) {
        <div class="icon-circle income-bg">
          <mat-icon>arrow_upward</mat-icon>
        </div>
      } @else {
        <div class="icon-circle expense-bg">
          <mat-icon>arrow_downward</mat-icon>
        </div>
      }

      <span>{{ category }}111111</span>
      <span class="dot">•</span>
      <span>{{ date }}</span>
      <span class="dot">•</span>
      <span>{{ payee }}</span>
    </div>
  </div>
</div>
