<script src='header.component.ts'></script>
<header class='header'>
  <div class='logo'>
    Budgetify
  </div>

  <nav class='navigation'>
    <ul>
      <li><a routerLink='categories' routerLinkActive='active'>Categories</a></li>
      <li><a routerLink='subscriptions' routerLinkActive='active'>Subscriptions</a></li>
      <li><a routerLink='obligatory' routerLinkActive='active'>Obligatory</a></li>
      <li><a routerLink='statistic' routerLinkActive='active'>Statistic</a></li>
      <li><a routerLink='admin' routerLinkActive='active'>Admin</a></li>
      <li><a routerLink='icons' routerLinkActive='active'>Icons</a></li>
    </ul>
  </nav>

  <app-user-profile-badge/>
</header>
