<section class="categories-container">
  <div class="categories">
    <div>Category 1</div>
    <div>Category 2</div>
    <div>Category 3</div>
  </div>
  <div class="categories-management">
    <app-drawer [atternativeTrigger]=" alternativeTrigger"
                [textHeader]="'Create money account'">
      <div ngProjectAs="drawer__content">

      </div>

      <div ngProjectAs="footer__buttons">
        <button type="submit"
        >
          Save
        </button>
      </div>

    </app-drawer>

    <ng-template #alternativeTrigger>
      <app-button
          [buttonContent]="'Add categories'"
          [icon]="'savings'"
      />
    </ng-template>

  </div>
</section>
