<div
  [ngClass]="{
    'category--income': type === 'Income',
    'category--expenses': type === 'Expanses',
  }"
  class="category"
>
  <span class="category__name">{{ category.name }}</span>
  <app-categories-creator>
    <div ngProjectAs="alternative__trigger">
      <button (click)="onEdit()" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </app-categories-creator>

  <button (click)="onDelete(category.id)" mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
</div>
