<div class='login-container' >
  <mat-card class='login-card' >
    <mat-card-header class='mat-card-header'>
      <mat-card-title>Login to Budgetify</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class='form' > 
        <div >
          <mat-form-field appearance="outline" class='mat-form-field'>
            <mat-label>Username</mat-label>
            <input matInput type="text" autocomplete="username">
            <mat-error >
              Username is required
            </mat-error>
          </mat-form-field>
        </div>

        <div >
          <mat-form-field appearance="outline" class='mat-form-field'>
            <mat-label>Password</mat-label>
            <input matInput  type="password" autocomplete="current-password">
            <mat-error >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <div >
          Validation error
        </div>

        <div class='button-block'>
          <button mat-raised-button color="primary" type="submit">
            <span >Login</span>
          </button>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>
