
<nav class="navigation">
  <ul>
    <li><a routerLink="categories" routerLinkActive="active">Categories</a></li>
    <li><a routerLink="subscriptions" routerLinkActive="active">Subscriptions</a></li>
    <li><a routerLink="obligatory" routerLinkActive="active">Obligatory</a></li>
    <li><a routerLink="statistic" routerLinkActive="active">Statistic</a></li>
    <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
  </ul>
</nav>

<main class="main">
  <div class="content">
<!--    <app-categories></app-categories>-->
<!--    <app-subscriptions></app-subscriptions>-->
<!--    <app-obligatory></app-obligatory>-->
<!--    <app-statistic></app-statistic>-->
<!--    <app-admin></app-admin>-->
    <router-outlet></router-outlet>
  </div>
</main>
