
.main {
  padding: var(--spacing-md) 0;
}

.content {
  background-color: var(--text-color-on-primary);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  box-shadow: 0 var(--spacing-xs) var(--spacing-sm) var(--shadow-color);
}
