<app-layout-page>
  <div slot="left">
    <money-accounts (onChangeAccountId)="handleMoneyAccountId($event)" />
  </div>
  <div slot="middle">
    <app-transaction-list [accountId]="accountId" />
  </div>
  <div slot="right">
    <app-transaction-creator
      [submitAction]="createTransactionAction.bind(this)"
    >
      <app-button
        [buttonContent]="'Create transaction'"
        [customStyles]="{
          backgroundColor: 'var(--background-color-primary-dark)',
          color: 'black',
          width: 'auto',
          whiteSpace: 'nowrap',
        }"
        [icon]="'add'"
        ngProjectAs="alternative__trigger"
      />
    </app-transaction-creator>
  </div>
</app-layout-page>
