<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title>Login to Budgetify</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      @if (error) {
        <div class="error-message" style="color: red; margin-bottom: 15px">
          {{ error }}
        </div>
      }

      @if (loading) {
        <div
          class="loading-spinner"
          style="display: flex; justify-content: center; margin: 20px 0"
        >
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      }

      <div [hidden]="submitted && loading">
        <form #actorForm="ngForm" (ngSubmit)="onSubmit()" class="form">
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Username</mat-label>
            <input
              [(ngModel)]="model.username"
              autocomplete="username"
              matInput
              name="username"
              required
              type="text"
            />
            <mat-error> Username is required </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Password</mat-label>
            <input
              [(ngModel)]="model.password"
              autocomplete="current-password"
              matInput
              name="password"
              required
              type="password"
            />
            <mat-error> Password is required </mat-error>
          </mat-form-field>

          <div class="button-block">
            <button
              [disabled]="!actorForm.form.valid || loading"
              color="primary"
              mat-raised-button
              type="submit"
            >
              <span>Login</span>
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
